<%= form_with(model: task, local: true, class: "form-group") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <% task.errors.full_messages.each do |message| %>
        <%= content_tag(:div, message, class: "alert alert-danger") %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :task_body, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
